# Imports

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib 
import seaborn as sns
import inflection 
import math

0.1. Helper Functions

0.2. Loading data

In [112]:
# Import datasets
df_sales_raw = pd.read_csv('./datasets/train.csv', low_memory=False) 
df_store_raw = pd.read_csv('./datasets/store.csv', low_memory=False) 

# Merge 

df_raw = pd.merge (df_sales_raw, df_store_raw , how='left', on='Store')

1.0. # DESCRIÇÃO DOS DADOS

In [113]:

df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
228401,942,4,2015-01-08,7245,475,1,1,0,1,d,c,6860.0,NaN,NaN,1,18.0,2011.0,"Jan,Apr,Jul,Oct"

# DESCRIÇÃO DOS DADOS

# Rename Columns

In [114]:
# Criar uma copia a cada nova tarefa

df1 = df_raw.copy()

In [115]:
df1.columns

cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x : inflection.underscore(x)

cols_new = list(map( snakecase ,cols_old) )

# rename 
df1.columns = cols_new

In [116]:
df1

,store,day_of_week,date,sales,customers,open,promo,state_holiday,school_holiday,store_type,assortment,competition_distance,competition_open_since_month,competition_open_since_year,promo2,promo2_since_week,promo2_since_year,promo_interval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

1.2 Data Dimensions

In [117]:
print(f"Number of Rows {df1.shape[0]}")
print(f"Number of Columns {df1.shape[1]}")

Number of Rows 1017209
Number of Columns 18

1.2 Data Types

In [118]:

df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

1.4 Check NA

In [119]:
# Mensurar a quantidade de linhas vazias

df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

# NA Treatment

In [120]:
    # 3 Metodos de Tratamento 
        # 1 - Deletar coluna
        # 2 - Usar algoritmos de ML            
            # Usado quando não há muito entendimento do negocio 
        # 3 - Entendendo o negocio

1.5 Fillout NA

In [121]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

In [122]:

#competition_distance 
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x)

#competition_open_since_month
df1['competition_open_since_month']= df1.apply( lambda x: x['date'].month if math.isnan(x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

#competition_open_since_year 

df1['competition_open_since_year']= df1.apply(lambda x: x['date'].year if math.isnan(x['competition_open_since_year']) else x['competition_open_since_year'], axis = 1)
                               
#promo2_since_week
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan(x['promo2_since_week']) else x['promo2_since_week'],axis=1)

#promo2_since_year       

df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan(x['promo2_since_year']) else x['promo2_since_year'], axis=1)

In [128]:
#promo_interval  
month_map = {1: 'Jan', 2: 'Fev', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

df1['promo_interval'].fillna(0, inplace=True)

df1['month_map'] = df1['date'].dt.month.map(month_map)

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply(lambda x : 0 if x['promo_interval'] == 0 else 1 if x['month_map']in x['promo_interval'].split(',') else 0, axis=1)

In [130]:
df1.sample(10).T

,900303,492497,226235,1009118,415854,64016,461062,774948,288882,175496
store,169,453,1006,829,745,462,238,809,177,442
day_of_week,1,3,6,2,2,4,3,2,3,2
date,2013-04-15 00:00:00,2014-04-16 00:00:00,2015-01-10 00:00:00,2013-01-08 00:00:00,2014-06-24 00:00:00,2015-06-04 00:00:00,2014-05-14 00:00:00,2013-08-06 00:00:00,2014-11-05 00:00:00,2015-02-24 00:00:00
sales,5627,11832,6907,7258,6052,5147,6025,6424,4514,2802
customers,633,1312,908,847,654,630,968,660,535,357
open,1,1,1,1,1,1,1,1,1,1
promo,0,1,0,1,0,1,0,0,1,0
state_holiday,0,0,0,0,0,0,0,0,0,0
school_holiday,0,1,0,1,0,0,0,1,0,0
store_type,d,a,c,c,a,a,a,a,a,c
assortment,a,c,c,a,a,a,a,a,a,a
competition_distance,980.0,75860.0,3890.0,110.0,17650.0,44320.0,320.0,12770.0,1250.0,500.0
competition_open_since_month,7.0,4.0,11.0,1.0,11.0,8.0,5.0,10.0,2.0,2.0
competition_open_since_year,2014.0,2014.0,2006.0,2013.0,2013.0,2008.0,2014.0,2000.0,2004.0,2015.0
promo2,1,0,1,0,1,0,1,0,1,1
promo2_since_week,18.0,16.0,5.0,2.0,37.0,23.0,45.0,32.0,5.0,45.0
promo2_since_year,2014.0,2014.0,2013.0,2013.0,2009.0,2015.0,2009.0,2013.0,2013.0,2009.0
promo_interval,"Feb,May,Aug,Nov",0,"Feb,May,Aug,Nov",0,"Jan,Apr,Jul,Oct",0,"Feb,May,Aug,Nov",0,"Feb,May,Aug,Nov","Feb,May,Aug,Nov"
month_map,Apr,Apr,Jan,Jan,Jun,Jun,May,Aug,Nov,Fev
is_promo,0,0,0,0,0,0,1,0,1,0

# Changes types

In [131]:

df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object

In [138]:
df1['competition_open_since_month'] = df1['competition_open_since_month'].astype(int)
df1['competition_open_since_year'] = df1['competition_open_since_year'].astype(int)      

df1['promo2_since_week'] = df1['promo2_since_week'].astype(int)                
df1['promo2_since_year'] = df1['promo2_since_year'].astype(int)

In [139]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month             int32
competition_open_since_year              int32
promo2                                   int64
promo2_since_week                        int32
promo2_since_year                        int32
promo_interval                          object
month_map                               object
is_promo                                 int64
promo_since_week                         int32
promo_since_year                         int32
dtype: object

# Descriptive Statistical

In [161]:
#Separate categorical variables from numeric variables

num_attributes = df1.select_dtypes(include = ['int64', 'float64'])
cat_attributes=df1.select_dtypes(include = ['object'])

In [164]:
# Central Tendencian - mean(Media), median (mediana)

# Create a New Data Set with the central tendencians

ct1 = pd.DataFrame(num_attributes.apply(np.mean)).T 
ct2 = pd.DataFrame(num_attributes.apply(np.median)).T

In [176]:
#Dispersion - std, min, max, range, skew, kurtosis

# Create a New Data Set with the central tendencians

# std 
d1 = pd.DataFrame(num_attributes.apply(np.std)).T

# min 
d2 = pd.DataFrame(num_attributes.apply(min)).T

# max
d3 = pd.DataFrame(num_attributes.apply(max)).T

# range 
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min() )).T

# skew 
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew() )).T

# kurtosis
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis() )).T

m = pd.concat([d2,d3,d4,ct1,ct2,d1,d5,d6]).T.reset_index()
m.columns = ['attributes','min', 'max', 'range', 'mean', 'median', 'std', 'skew','kurtosis']

m

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,store,1.0,1115.0,1114.0,558.429727,558.0,321.908493,-0.000955,-1.200524
1,day_of_week,1.0,7.0,6.0,3.998341,4.0,1.997390,0.001593,-1.246873
2,sales,0.0,41551.0,41551.0,5773.818972,5744.0,3849.924283,0.641460,1.778375
3,customers,0.0,7388.0,7388.0,633.145946,609.0,464.411506,1.598650,7.091773
4,open,0.0,1.0,1.0,0.830107,1.0,0.375539,-1.758045,1.090723
5,promo,0.0,1.0,1.0,0.381515,0.0,0.485758,0.487838,-1.762018
6,school_holiday,0.0,1.0,1.0,0.178647,0.0,0.383056,1.677842,0.815154
7,competition_distance,20.0,200000.0,199980.0,5935.442677,2330.0,12547.646829,10.242344,147.789712
8,promo2,0.0,1.0,1.0,0.500564,1.0,0.500000,-0.002255,-1.999999
9,is_promo,0.0,1.0,1.0,0.155231,0.0,0.362124,1.904152,1.625796

In [181]:
sns.distplot(df1['sales'])

C:\Users\thali\AppData\Local\Temp\ipykernel_9784\710812770.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(df1['sales'])

mean